### Loop
* ```for``` loop
* ```while``` loop

In [1]:
# for 주로 반복 횟수가 정해져 있을 경우 사용.
# for 변수명 in Iterable:
#    statements

# range(stop) -> 0 to stop (stop: exclusive)
for var in range(10):
    print(var)

0
1
2
3
4
5
6
7
8
9

In [2]:
# range(start, stop) start: inclusive, stop: exclusive
for var in range(10, 20):
    print(var)

10
11
12
13
14
15
16
17
18
19

In [3]:
# range(start, stop, step) using step 
for var in range(1, 10, 2):
    print(var)

1
3
5
7
9

In [4]:
for var in range(10, 0, -1):
    print(var)

10
9
8
7
6
5
4
3
2
1

In [5]:
for name in {'john', 'jenny', 'amy', 'michael'}: # Iterate set
    print(name)

jenny
michael
amy
john

In [6]:
for name in ['john', 'jenny', 'amy', 'michael']: # Iterate list
    print(name)

john
jenny
amy
michael

In [7]:
for name in ('john', 'jenny', 'amy', 'michael'): # Iterate tuple
    print(name)

john
jenny
amy
michael

In [8]:
for person in {'john':24, 'jenny':21, 'amy':27, 'michael':19}: # Iterate dict
    print(type(person), person)

<class 'str'> john
<class 'str'> jenny
<class 'str'> amy
<class 'str'> michael

In [9]:
for person in {'john':24, 'jenny':21, 'amy':27, 'michael':19}.items(): # Iterate dict.items()
    print(type(person), person)

<class 'tuple'> ('john', 24)
<class 'tuple'> ('jenny', 21)
<class 'tuple'> ('amy', 27)
<class 'tuple'> ('michael', 19)

In [10]:
for char in "characters": # Iterate str
    print(char)

c
h
a
r
a
c
t
e
r
s

In [11]:
# iterate with object`s length
name_list = ['john', 'jenny', 'amy', 'michael']

for idx in range(len(name_list)):
    print(name_list[idx])
    
print()
print("< stride 2 >")
for idx in range(0, len(name_list), 2):
    print(name_list[idx])

print()
print("< reverse >")
for idx in range(len(name_list)-1, -1, -1):
    print(name_list[idx])

john
jenny
amy
michael

< stride 2 >
john
amy

< reverse >
michael
amy
jenny
john

In [12]:
# Iterate with index slice
for name in ['john', 'jenny', 'amy', 'michael', 'sam', 'elise'][2:4]:
    print(name)
    
print()
print("stride 2")
for name in ['john', 'jenny', 'amy', 'michael', 'sam', 'elise'][::2]:
    print(name)
    
print()
print("< reverse >")
for name in ['john', 'jenny', 'amy', 'michael', 'sam', 'elise'][-1:0:-1]: # Where is John?
    print(name)

amy
michael

stride 2
john
amy
sam

< reverse >
elise
sam
michael
amy
jenny

In [13]:
# Nested for loop
iter_list = ['john', 'jenny', 'amy', 'michael', ['a', 'b', 'c'], (1, 2, 3)]

for list_element in iter_list:
    print(list_element)
    
    for e in list_element:
        print("  ", e)

john
   j
   o
   h
   n
jenny
   j
   e
   n
   n
   y
amy
   a
   m
   y
michael
   m
   i
   c
   h
   a
   e
   l
['a', 'b', 'c']
   a
   b
   c
(1, 2, 3)
   1
   2
   3

In [14]:
# Escape for loop

for i in range(100000):
    if i == 10:
        break # escape this loop
    print(i)

0
1
2
3
4
5
6
7
8
9

In [15]:
# Continue (jump to next iterate)
for name in ['john', ('sam', 'jack'), 'jenny', 'amy', 'michael']:
    if not isinstance(name, str):
        continue # jump
    print(name)

john
jenny
amy
michael

In [16]:
# Iterate with enumerate()
rank = ['john', 'jenny', 'amy', 'michael', 'sam', 'elise']

for idx, value in enumerate(rank):
    
    ranking = str(idx + 1)
    
    if ranking == '1':
        ranking += "st"
        
    elif ranking == '2':
        ranking += "nd" 
        
    elif ranking =='3':
        ranking += "rd"
        
    else:
        ranking += "th"
        
    rank[idx] = ranking + ": " + value
    
print(rank)

['1st: john', '2nd: jenny', '3rd: amy', '4th: michael', '5th: sam', '6th: elise']

In [17]:
# while loop
# while condition:
#    statements
# iterate while condition is true.

# 랜덤 값이 10이 나올 때까지 반복
# 랜덤 0-10 값 생성 (random.randint(start, stop))
# while loop 사용 시 무한 루프에 빠지지 않게 주의 할 것! 탈출 조건 명시(break or condition)
import random

idx = 0
while 1:
    rand_num = random.randint(0, 10)
        
    idx+=1
    print("#"+str(idx)+"\t", rand_num)
    
    if rand_num == 10:
        break

#1	 8
#2	 10

In [18]:
# n번째 소수 구하기
n_th = 20
prime_numbers = [2]

number = 2
while len(prime_numbers) < n_th:
    is_prime = True
    
    for factor in prime_numbers:
        if number % factor == 0:
            is_prime = False
            break
            
    if is_prime:
        prime_numbers.append(number)
    
    number += 1
    

print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71]

### List comprehension

In [20]:
# Generate list with for loop.

# Get words white space separated using str.split()
sentence = "All happy families are alike; each unhappy family is unhappy in its own way."
[word for word in sentence.split()]

['All',
 'happy',
 'families',
 'are',
 'alike;',
 'each',
 'unhappy',
 'family',
 'is',
 'unhappy',
 'in',
 'its',
 'own',
 'way.']

In [51]:
# Get all variables & methods in str() using dir(str)
[prop for prop in dir(str)][::5] # [::5] <-- 결과가 길어서 5개마다 찍음

['__add__',
 '__doc__',
 '__getitem__',
 '__init_subclass__',
 '__mod__',
 '__reduce_ex__',
 '__sizeof__',
 'center',
 'find',
 'isalpha',
 'isnumeric',
 'join',
 'partition',
 'rpartition',
 'startswith',
 'upper']

In [22]:
# Generate list with for loop & if condition

[even_num for even_num in range(20) if even_num%2 == 0]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [27]:
# Get all variables & methods in str() starts with 'is'(double under score) using dir(str)
[prop for prop in dir(str) if prop.startswith('is')]

['isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper']

In [43]:
# Get name which is shorter than 5 characters
[short_name for short_name in ['john', 'jenny', 'amy', 'michael', 'sam', 'elise'] if len(short_name) < 5]

SyntaxError: invalid syntax (<ipython-input-43-f4702c3e7f1c>, line 3)

In [50]:
names = ['john', 'jenny', 'amy', 'michael', 'sam', 'elise']
print([limit_4 if len(limit_4) < 5 else limit_4[:4] for limit_4 in names])
print([name[:4] for name in names])

['john', 'jenn', 'amy', 'mich', 'sam', 'elis']
['john', 'jenn', 'amy', 'mich', 'sam', 'elis']

In [46]:
[absolute if absolute >= 0 else -absolute for absolute in range(-10, 10)]

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]