In [1]:
divmod(5, 2)

(2, 1)

In [2]:
type(10_000_000_000_000)

int

In [3]:
s = [1, 2, 3]
t = [4, 5, 6]

s + t

[1, 2, 3, 4, 5, 6]

In [4]:
s * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [5]:
s[1]

2

In [6]:
n_list = ['first', '2nd', 'third', '4th', 5, 6.0]

In [7]:
n_list[:-3]

['first', '2nd', 'third']

In [8]:
min(n_list)

TypeError: '<' not supported between instances of 'int' and 'str'

In [9]:
max(["abc", "ab", "b"])

'b'

In [10]:
n_list.append(['first', 5])

In [11]:
n_list.pop()

['first', 5]

In [12]:
n_list

['first', '2nd', 'third', '4th', 5, 6.0]

In [13]:
n_list += ['first', 5]
n_list

['first', '2nd', 'third', '4th', 5, 6.0, 'first', 5]

In [14]:
n_list.index('first', 2, -1)

6

In [15]:
n_list.count('first')

2

In [16]:
t = tuple(s)

In [17]:
t = (1, 2, 3)

In [18]:
type(tuple(s))

tuple

In [19]:
n_list[0]
n_list[0] = '1st'

In [20]:
n_tuple = tuple(n_list)

In [21]:
print(type(n_tuple), n_tuple)

<class 'tuple'> ('1st', '2nd', 'third', '4th', 5, 6.0, 'first', 5)

In [22]:
t = (1, 2, 3)

In [23]:
print(t + (4, 5))

(1, 2, 3, 4, 5)

In [24]:
t = (4, 5)

In [25]:
print(range(10))

range(0, 10)

In [26]:
range(10)[0:3]

range(0, 3)

In [27]:
[x for x in range(0, 11, 3)]

[0, 3, 6, 9]

In [28]:
for x in range(11):
    if x%2 == 0:
        print('even : ', x)
    else: 
        print('odd : ', x)

even :  0
odd :  1
even :  2
odd :  3
even :  4
odd :  5
even :  6
odd :  7
even :  8
odd :  9
even :  10

In [29]:
print(type("asdasdasdasd"), "asdasdasdasd")

<class 'str'> asdasdasdasd

In [30]:
print(type('asdasdasdasd'), 'asdasdasdasd')

<class 'str'> asdasdasdasd

In [31]:
print(type(str('asdasdasdasd')), str('asdasdasdasd'))

<class 'str'> asdasdasdasd

In [32]:
print(type('''asdasdasd'''), '''asdasdasd''')

<class 'str'> asdasdasd

In [33]:
print(type("""asdasdasd"""), """asdasdasd""")

<class 'str'> asdasdasd

In [34]:
def test():
    '''test'''
    
class T:
    "Test"
    
    def m(self, o):
        "m(o) -> return o"
        print(o)

In [35]:
def test():
    "testtest"

In [36]:
"""t
e
s
t"""

't\ne\ns\nt'

In [37]:
alpha = "abcdefgfigk123"

In [38]:
n_list.count(5)

2

In [39]:
n_set = set(n_list)

In [40]:
n_list

['1st', '2nd', 'third', '4th', 5, 6.0, 'first', 5]

In [63]:
import decimal
n_set.add(decimal.Decimal(5))
print(n_set)

{'1st', 5, 6.0, '0b101', '4th', 'third', 'first', '2nd'}

In [41]:
n_set.add(bin(5))

In [42]:
f_set = frozenset(n_list)

In [43]:
f_set.add(10)

AttributeError: 'frozenset' object has no attribute 'add'

In [44]:
products = {
    'computer': 1000,
    'cellphone': 800,
    'cup':  10,
    'doll': 4,
    100: "one hundred"
}

In [45]:
print(products)

{'computer': 1000, 'cellphone': 800, 'cup': 10, 'doll': 4, 100: 'one hundred'}

In [46]:
products['cup']

10

In [47]:
product_k = ['computer', 'cellphone', 'cup', 'doll']
product_v = [1000, 800, 10, 4]

In [48]:
product_v[product_k.index('doll')]

4

In [49]:
products.update({'car' : 50000})

In [50]:
products['car']

50000

In [51]:
products.keys()

dict_keys(['computer', 'cellphone', 'cup', 'doll', 100, 'car'])

In [52]:
products.values()

dict_values([1000, 800, 10, 4, 'one hundred', 50000])

In [53]:
products.items()

dict_items([('computer', 1000), ('cellphone', 800), ('cup', 10), ('doll', 4), (100, 'one hundred'), ('car', 50000)])

In [54]:
products.pop("cup")

10

In [55]:
products

{'computer': 1000,
 'cellphone': 800,
 'doll': 4,
 100: 'one hundred',
 'car': 50000}

In [56]:
products['a'] = 'a'

In [57]:
products

{'computer': 1000,
 'cellphone': 800,
 'doll': 4,
 100: 'one hundred',
 'car': 50000,
 'a': 'a'}

In [58]:
products['a'] = 'b'