In [2]:
divmod(5, 2)

(2, 1)

In [3]:
type(10_000_000_000_000)

int

In [4]:
s = [1, 2, 3]
t = [4, 5, 6]

s + t

[1, 2, 3, 4, 5, 6]

In [6]:
s * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [7]:
s[1]

2

In [9]:
n_list = ['first', '2nd', 'third', '4th', 5, 6.0]

In [22]:
n_list[:-3]

['first', '2nd', 'third']

In [24]:
min(n_list)

TypeError: '<' not supported between instances of 'int' and 'str'

In [27]:
max(["abc", "ab", "b"])

'b'

In [29]:
n_list.append(['first', 5])

In [31]:
n_list.pop()

['first', 5]

In [32]:
n_list

['first', '2nd', 'third', '4th', 5, 6.0]

In [51]:
n_list += ['first', 5]
n_list

['first', '2nd', 'third', '4th', 5, 6.0, 'first', 5, 'first', 5]

In [57]:
n_list.index('first', 2, -1)

6

In [58]:
n_list.count('first')

3

In [60]:
t = tuple(s)

In [66]:
t = (1, 2, 3)

In [68]:
type(tuple(s))

tuple

In [70]:
n_list[0]
n_list[0] = '1st'

In [72]:
n_tuple = tuple(n_list)

In [73]:
print(type(n_tuple), n_tuple)

<class 'tuple'> ('1st', '2nd', 'third', '4th', 5, 6.0, 'first', 5, 'first', 5)

In [80]:
t = (1, 2, 3)

In [81]:
print(t + (4, 5))

(1, 2, 3, 4, 5)

In [83]:
t = (4, 5)

In [86]:
print(range(10))

range(0, 10)

In [90]:
range(10)[0:3]

range(0, 3)

In [112]:
[x for x in range(0, 11, 3)]

[0, 3, 6, 9]

In [108]:
for x in range(11):
    if x%2 == 0:
        print('even : ', x)
    else: 
        print('odd : ', x)

even :  0
odd :  1
even :  2
odd :  3
even :  4
odd :  5
even :  6
odd :  7
even :  8
odd :  9
even :  10

In [119]:
print(type("asdasdasdasd"), "asdasdasdasd")

<class 'str'> asdasdasdasd

In [120]:
print(type('asdasdasdasd'), 'asdasdasdasd')

<class 'str'> asdasdasdasd

In [121]:
print(type(str('asdasdasdasd')), str('asdasdasdasd'))

<class 'str'> asdasdasdasd

In [124]:
print(type('''asdasdasd'''), '''asdasdasd''')

<class 'str'> asdasdasd

In [126]:
print(type("""asdasdasd"""), """asdasdasd""")

<class 'str'> asdasdasd

In [132]:
def test():
    '''test'''
    
class T:
    "Test"
    
    def m(self, o):
        "m(o) -> return o"
        print(o)

In [134]:
def test():
    "testtest"

In [140]:
"""t
e
s
t"""

't\ne\ns\nt'

In [163]:
alpha = "abcdefgfigk123"

In [171]:
n_list.count(5)

3

In [175]:
n_set = set(n_list)

In [176]:
n_list

['1st', '2nd', 'third', '4th', 5, 6.0, 'first', 5, 'first', 5, 1]

In [187]:
n_set.add(bin(5))

In [192]:
f_set = frozenset(n_list)

In [193]:
f_set.add(10)

AttributeError: 'frozenset' object has no attribute 'add'

In [219]:
products = {
    'computer': 1000,
    'cellphone': 800,
    'cup':  10,
    'doll': 4,
    100: "one hundred"
}

In [220]:
print(products)

{'computer': 1000, 'cellphone': 800, 'cup': 10, 'doll': 4, 100: 'one hundred'}

In [200]:
products['cup']

10

In [211]:
product_k = ['computer', 'cellphone', 'cup', 'doll']
product_v = [1000, 800, 10, 4]

In [212]:
product_v[product_k.index('doll')]

4

In [215]:
products.update({'car' : 50000})

In [217]:
products['car']

50000

In [224]:
products.keys()

dict_keys(['computer', 'cellphone', 'cup', 'doll', 100])

In [225]:
products.values()

dict_values([1000, 800, 10, 4, 'one hundred'])

In [226]:
products.items()

dict_items([('computer', 1000), ('cellphone', 800), ('cup', 10), ('doll', 4), (100, 'one hundred')])

In [227]:
products.pop("cup")

10

In [228]:
products

{'computer': 1000, 'cellphone': 800, 'doll': 4, 100: 'one hundred'}

In [229]:
products['a'] = 'a'

In [232]:
products

{'computer': 1000, 'cellphone': 800, 'doll': 4, 100: 'one hundred', 'a': 'b'}

In [231]:
products['a'] = 'b'